@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$font-family-sans-serif: "Montserrat", "Blinker", "PT Sans", -apple-system, Blinker, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$gray-900: #565A5C;
$gray-100: #A2A4A3;
$yellow: #CFB87C;
$body-bg: $gray-900;
$primary: $yellow;
$secondary: $pink;
$info: $indigo;
$warning: $orange;
$dark: $gray-900;
$body-color: $white;
$enable-rounded: false;

//  @import '../../node_modules/bootstrap/scss/bootstrap.scss';
 
